# Variables de entorno
.env

# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db